$tooltip-widget-tail-size: 8px;
$tooltip-widget-tail-offset: 2px;

.tooltip {
  position: relative;

  &:hover .tooltip-description {
    display: block;
  }
}

.tooltip-description {
  display: none;
  width: max-content;
  position: absolute;
  padding: 3px 10px;
  background-color: var(--th-light-purple);
  border-radius: 5px;
  font-weight: 400;
  z-index: 1000;

  &::before {
    content: '';
    display: block;
    width: $tooltip-widget-tail-size;
    height: $tooltip-widget-tail-size;
    position: absolute;
    background-color: var(--th-light-purple);
  }
}

.tooltip.top .tooltip-description {
  left: 50%;
  bottom: calc(100% + #{$tooltip-widget-tail-size} + #{$tooltip-widget-tail-offset});
  transform: translateX(-50%);

  &::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
}

.tooltip.bottom .tooltip-description {
  left: 50%;
  top: calc(100% + #{$tooltip-widget-tail-size} + #{$tooltip-widget-tail-offset});
  transform: translateX(-50%);

  &::before {
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }
}

.tooltip.right .tooltip-description {
  top: 50%;
  left: calc(100% + #{$tooltip-widget-tail-size} + #{$tooltip-widget-tail-offset});
  transform: translateY(-50%);
  
  &::before {
    top: 50%;
    left: calc(-1 * #{$tooltip-widget-tail-size});
    transform: translateY(-50%);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
  }
}

.tooltip.left .tooltip-description {
  top: 50%;
  right: calc(100% + #{$tooltip-widget-tail-size} + #{$tooltip-widget-tail-offset});
  transform: translateY(-50%);
  
  &::before {
    top: 50%;
    right: calc(-1 * #{$tooltip-widget-tail-size});
    transform: translateY(-50%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
}