.pattern-background {
  $vertical-padding: 1rem;
  $horizontal-padding: 0.75rem;
  padding-top: calc(2 * #{$vertical-padding});
  padding-bottom: calc(2 * #{$vertical-padding});

  &::before {
    content: '';
    display: block;
    width: calc(100% - 2 * #{$horizontal-padding});
    height: calc(100% - 2 * #{$vertical-padding});
    position: absolute;
    top: $vertical-padding;
    left: $horizontal-padding;
    right: $horizontal-padding;
    opacity: 0.4;
    border-radius: 30px;
    background-image: url('images/pattern.purple.png');
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
  }

  & > * {
    z-index: 1;
  }
}

@media (min-width: 1400px) {
  .pattern-background {
    $vertical-padding: 2rem;
    padding-top: calc(2 * #{$vertical-padding});
    padding-bottom: calc(2 * #{$vertical-padding});

    &::before {
      height: calc(100% - 2 * #{$vertical-padding});
      top: $vertical-padding;
    }
  }
}

@media (min-width: 768px) {
  .pattern-background::before {
    width: 100%;
    left: 0;
    right: 0;
    background-position: top left;
  }

  .inner-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.section-title {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.upload-music-form {
  .form-row > * {
    margin-right: 3rem;
  }
  .form-row > *:last-child {
    margin-right: 0;
  }
  .form-row.extended input {
    width: 280px;
  }

  .upload-file-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    padding: 0.2rem 1rem;
    color: var(--th-white);
    background-color: transparent;
    border: 2px solid var(--th-white);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.618s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
    }

    svg {
      margin-right: 0.6rem;

      * {
        fill: var(--th-white);
      }
    }

    span {
      font-family: 'Timmana', sans-serif;
      font-size: 18px;
      color: inherit;
      padding-top: 8px;
    }
  }

  input[type='file'] {
    display: none;
    width: 0;
    height: 0;
  }

  .image-preview {
    width: 80px;
    height: 80px;
    margin-left: 1rem;
    border: 0.8px solid var(--th-white);
    background-color: rgba(255, 255, 255, 0.15);
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .upload-music-form {
    .image-preview {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

button.upload-music-form-submit {
  width: 180px;
  margin-top: 3rem;

  span {
    width: 100%;
  }
}

.content-container {
  margin-bottom: 4rem;
}

.song-info-form {
  margin-right: 3rem;

  .form-title {
    font-size: 24px;
  }

  .input-field input {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
}

.progress-illustration {
  max-width: 100%;
}

.progress {
  $progress-bar-height: 20px;
  $progress-checkpoint-radius: 25px;
  width: 100%;

  .progress-percentage {
    font-family: 'Timmana', sans-serif;
    font-size: 24px;
  }

  .progress-bar-wrapper {
    width: 100%;
    position: relative;
  }

  .progress-bar {
    width: 100%;
    height: $progress-bar-height;
    position: relative;
    background-color: var(--th-gray);
    border-radius: 10px;

    .progress-bar-inner {
      height: 100%;
      background-color: var(--th-white);
      border-radius: 10px;
      transition: width 0.6s ease-out;
    }

    .progress-checkpoint {
      width: $progress-bar-height;
      height: $progress-bar-height;
      position: absolute;
      top: 50%;
      background-color: var(--th-light-gray);
      border-radius: 100%;
      transition: all 0.6s ease 0.6s;
      transform: translate(-50%, -50%);
      z-index: 1;

      &:nth-child(2) {
        transform: translate(0, -50%);
      }
      &:last-child {
        transform: translate(-100%, -50%);
      }

      &.active {
        width: $progress-checkpoint-radius;
        height: $progress-checkpoint-radius;
        background-color: var(--th-orange);
      }
    }
  }

  .step-summary {
    position: absolute;
    top: calc(100% + 15px);
    transform: translateX(-50%);

    &:nth-child(2) {
      transform: translateX(-40%);
    }
    &:last-child {
      transform: translateX(-60%);
    }

    .step-title {
      font-family: 'Timmana', sans-serif;
      line-height: 1;
      text-transform: capitalize;
    }

    svg > * {
      transition: all 0.6s ease;
    }

    svg.completed > * {
      fill: var(--th-green);
    }
  }
}

@media (max-width: 768px) {
  .progress {
    .progress-percentage {
      font-size: 18px;
    }

    .step-summary .step-title {
      font-size: 14px;
    }
  }
}
@media (min-width: 1024px) {
  .progress {
    width: min(100%, 680px);
  }
}

.chart-visualization-container {
  flex: 1;
}

.actions > * {
  margin-left: 1.5rem;
}