.home-background {
  margin-top: 2rem;
  padding: 5rem 2rem;
  border-radius: 30px;
  background-image: url('images/pattern.purple.png');
  background-repeat: repeat;
  background-position: top left;
  background-size: cover;
}

.content-wrapper {
  width: 100%;
  z-index: 1;
  
  h1 {
    margin-bottom: 2rem;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    width: 60%;
  }
}

section {
  margin-top: 4rem;
  margin-bottom: 6rem;

  h1 {
    display: inline-block;
    margin-bottom: 2rem;
    transform-style: preserve-3d;

    &::after {
      content: '';
      display: block;
      width: 227px;
      height: 24px;
      position: absolute;
      bottom: 8px;
      right: -50px;
      background-image: url('images/pattern.purple.png');
      background-position: top right;
      background-size: auto;
      transform: translateZ(-1px);
    }
  }
  
  p {
    margin-bottom: 2rem;
  }

  .step-by-step-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 2rem;
    margin-top: 3rem;

    &::before {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 10px;
      background-color: var(--th-white);
      border-radius: 2px;
    }

    .step {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      .step-number {
        transform-style: preserve-3d;

        &::after {
          content: '';
          display: block;
          width: 111px;
          height: 24px;
          position: absolute;
          bottom: 8px;
          left: 20px;
          background-image: url('images/pattern.purple.png');
          background-position: top left;
          background-size: auto;
          transform: translateZ(-1px);
        }
      }

      .step-title {
        text-transform: uppercase;
      }
    }

    .graphics {
      width: 100%;
    }
  }

  .external-link {
    span {
      text-transform: capitalize;
    }

    a {
      text-transform: none;
      text-decoration: underline;
    }

    .highlight {
      font-family: 'Timmana', sans-serif;
      font-size: 24px;
      line-height: 1;
      padding-top: 7px;
      color: var(--th-orange);
      margin-right: 2rem;
      text-transform: none;
    }
  }
}

@media (min-width: 768px) {
  section {
    .step-by-step-content-wrapper {
      .step {
        display: grid;
        grid-template-columns: 220px auto;
      }

      .graphics {
        width: 50%;
      }
    }
  }
}